/* Custom styles for collection display */
.field--name-field-cover-art IMG {  border: 1px solid black; box-shadow: 5px 5px 7px #ccc; }

.collection-details { width: 45%; float: left; }

.collection-cover-art { width: 45%; float: right; }

.rfn-artist-link { text-decoration: none; color: #000000;}

.rfn-parental-advisory { margin: 5% 5% 5% 0; }

.collection-tracks TABLE audio { width: 100%; }

.collection-tracks thead TD { padding-top: 40px; border-bottom: solid thin #cccccc; }

.track-number { padding-left: 3.5rem; }

@media only screen and (max-width: 768px) {

    .collection-details {
        width: 100%;
        clear: both;
        margin-bottom: 5%;
    }

    .collection-cover-art {
        width: 100%;
        clear: both;
    }

    .field--name-field-cover-art IMG { width: 768px; }

    .collection-tracks TABLE, .collection-tracks TABLE audio { font-size: 0.8em; width: 100%; }
    .track-number { padding-left: 1.5rem; }
}