{{ attach_library('rfn_collection/rfn_collection') }}

{# set some variables for the collection #}
{% set artist_nid = node.field_artists.entity.id %}
{% set artist_name = node.field_artists.entity.title.value %}
{% set track_counter = 0 %}


<div class="collection-details">
<h2>{{'Artist'|t}}: {{ artist_link }}</h2>

{% if node.field_year_of_release.value > 0 %}
<strong> {{ 'Year of release'|t}}: </strong> {{ node.field_year_of_release.value }} <br/>
{% endif %}
{# if this user is a site admin or archivist, show internal fields #}
{% if 'archivist' in user.getroles(TRUE) or 'site_technical_administor' in user.getroles(TRUE) %}
<div class="rfn-collection-internal-info">
  <strong>{{'Call Number'|t}}:</strong> {{node.field_call_number.value}} <br/>
  <strong>{{'Sort Field'|t}}:</strong> {{ node.field_sort_field.value}}<br/>
  {# type 1 == album,  type 2 == playlist #}
  <strong>{{'Collection Type'|t}}:</strong> 
  {% if node.field_collection_type.value == 1 %} 
    {{'Album' |t}}
  {% elseif node.field_collection_type.value == 2 %}
    {{'Playlist'|t}}
  {% endif %}
  
</div>
{% endif %}
{# parental advisory field #}
{% if node.field_parental_advisory.value == 1 %}
  <div class="rfn-parental-advisory">{{rfn_parental_advisory_logo()|raw}}</div>
{% endif %}
</div>
<div class="collection-cover-art">{{ content.field_cover_art }}</div>
    <div class="collection-tracks">
    <table>
    <thead>
        <tr>
            <td>{{'Track Num'|t}}</td>
            <td>{{'Title'|t}}</td>
            <td>{{'Duration'|t}}</td>
        </tr>
    </thead>
    <tbody>
    {% for key,value in node.field_media_items.value %}


        {# set variables #}
        {% set track_counter = track_counter + 1 %}
        {% set track_title = node.field_media_items[key].entity.title.value %}
        {% set track_number = node.field_media_items[key].entity.get('field_track_number').value %}
        {# if there is no track number data, we just count them #}
        {% if track_number <= 0  or track_number == null or track_number == '' %}
            {% set track_number = track_counter %}
        {% endif %}
        {% set track_duration = node.field_media_items[key].entity.get('field_duration').value %}
        {% if track_duration == '' or track_duration == null %} 
            {% set track_duration = '???' %} 
        {% endif %}
        {% set parental_advisory = node.field_media_items[key].entity.get('field_duration').value %}
        {% set streaming_uri = node.field_media_items[key].entity.get('field_media_streaming_uri').value %}
        <tr>
            <td class="track-number">{{track_number}}</td>
            <td>{{track_title}}</td>
            <td>{{track_duration}}</td>
        </tr>
        <tr>
            <td colspan="3">
                {# when we play this track, we want to pause all the other tracks on this page #}
                <audio controls controlsList="nodownload" onplay="stopAllOtherPlayers(event);">
                <source src="{{ rfn_build_streaming_uri(streaming_uri)}}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>